h1{
    font-size: 50px;    
    font-family: sans-serif;  
    font-weight: bold;  
    
}

h2{
    font: bold 14 px   sans-serif;  
}

body{
    text-align: center;
    background-color: blue;
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}


.agrupar{
    width: 1000px;
    background-color: rgb(73, 211, 211);    
    margin: 30px auto;  
    padding: 50px;   
}

header{
    background-color: cyan;   
}

.grid                   {
    background-color: white;
    border: 1px solid black;
    
}

.cabezera h1{
    text-align: left;
    padding: 20px;

}

.menu{
    background-color: whitesmoke;
    padding: 5px 15px;  
    text-align: left;   
    border: 1px solid rgb(187, 23, 23);
}

.menu li{  
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    
    display: inline-block;  
}

.seccion{
    background-color: rgba(243, 236, 236, 0.897);
    margin: 20px;
    width: 58%;   
    border: 1px solid rgb(189, 37, 37);
    float: left;    
}

.columna{
    background-color: rgb(230, 250, 114);
    margin: 20px 0px;
    width: 36%;
    border: 1px solid rgb(0, 0, 0);
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background-color: rgb(100, 216, 237);
    font: bold 16px times new roman;
}

.seccion article{
    background-color: rgb(95, 27, 172);
    padding: 15px;
    margin: 15px;
    border: 1px solid rgb(18, 25, 122);
}

.seccion h2{
    text-align: left;
}

.seccion footer{
    text-align: left;
    padding: 15px;
    color: rgb(42, 165, 42);
}
.seccion p{
    text-align: justify
}

.seccion img{
    width: 100px;
    display: block;
    margin: auto;
    padding: 2px;
}
.columna blockquote{
    border: 1px solid rgb(119, 19, 19) 10;
    background-color: rgb(191, 188, 196);
    padding: 80px;
    font: bold 14px sans-serif;
}

